spring:
  activemq:
    broker-url: tcp://localhost:61616
    user: admin
    password: admin
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.Oracle12cDialect
  datasource:
    url: jdbc:oracle:thin:@localhost:1521:xe
    username: your_db_username
    password: your_db_password
    driver-class-name: oracle.jdbc.OracleDriver

logging:
  level:
    org.springframework: INFO
    com.ibn: DEBUG

message:
  queue-name: your_queue_name
  topic-name: your_topic_name