server:
  port: 8081

spring:
  datasource:
    url: jdbc:oracle:thin:@localhost:1521:xe
    username: your_db_username
    password: your_db_password
    driver-class-name: oracle.jdbc.OracleDriver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    root: INFO
    com.ibn.external: DEBUG

# Additional configurations can be added here as needed.